[submodule "protobufs"]
	path = protobufs
	url = https://github.com/meshtastic/protobufs.git
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
[submodule "src/graphics/msgui"]
	path = src/graphics/msgui
	url = https://github.com/mariotti/meshtastic-msgui.git
